body {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.content {
  background-color: lightpink;
  width: 350px;
  height: auto;
  display: grid;
  justify-content: center;
  
}
  

.text {
  font-size: 50px;
  font-weight: bold;
}

.count {
  font-size: 80px;
  font-weight: bolder;
  display: grid;
  justify-content: center;
  align-items: center; 
}

.increment, .save {
  width: 200px; 
  margin-left: 65px;
  padding:20px 0px;
  background-color: lightgreen;
  border: none;
  border-radius: 50px;
  margin-top: 5px;  
}

.entries {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
